.form {
  display: flex;
  flex-direction: column;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 400px;
}

.input-container {
  margin: 20px 0 20px;
  height: 50px;
  width: 100%;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  min-height: 40px;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.label {
  color: #65657b;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: sans-serif;
}
