<form class="form" [formGroup]="messageFormGroup" (ngSubmit)="submitMessage()">
  <h1 class="title">Форма для сообщения</h1>
  <div class="input-container">
    <label class="label">
      Отправитель
      <input class="input" type="text" formControlName="sender" placeholder=""/>
    </label>
  </div>
  <div class="input-container">
    <label class="label">
      Текст
      <input class="input" type="text" formControlName="text" placeholder=""/>
    </label>
  </div>
  <div class="input-container">
    <label class="label">
      Получатель
      <input class="input" type="text" formControlName="recipient" placeholder=""/>
    </label>
  </div>
  <button type="submit" class="button">Отправить</button>
  <section class="result">
    <h2 class="subtitle">Итоговое сообщение</h2>
    <ng-container *ngIf="message$ | async as message">
      <p>Отправитель: {{ message?.sender }}</p>
      <p>Текст: {{ message?.text }}</p>
      <p>Получатель: {{ message?.recipient }}</p>
    </ng-container>
  </section>
  <button type="button" class="button" (click)="clearMessageData()">Очистить данные для сообщения</button>
  <button type="button" class="button" (click)="navigateToChangesPage()">Перейти на страницу изменений</button>
</form>
