<section class="result">
  <h1 class="title">Изменения</h1>
  <p>Источник последнего изменения: {{ lastChangeSource }}</p>
  <p>Всего произошло изменений: {{ changesCount }}</p>
</section>
<button type="button" class="button" (click)="callChange('Нажатие кнопки')">Вызвать изменение</button>
<button type="button" class="button" (click)="navigateToFormPage()">Перейти на страницу с формой</button>
